<head>
  <meta charset="UTF-8">
  <title>Geek Text Book Store</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#03a6f3">
  <!-- <link rel="stylesheet" href="..css/bootstrap.css"> -->
  <!-- ADDED BOOTSTRAP.MIN.CSS FILE, LOCATED IN NODE_MODULKE FOLDER. Use code in terminal to install:  npm install bootstrap@ jquery --save-->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css"> -->
  <!--<link rel="stylesheet" href="css/styles.css"> -->
</head>

<body>
  <header>
      <div class="header-top">
          <div class="container">
              <div class="row">
                  <div class="col-md-3"><a href="#" class="web-url">www.bookstore.com</a></div>
                  <div class="col-md-6">
                      <h5>CEN4010 U02 1208 Book Store</h5></div>
                  <div class="col-md-3">
                      <span class="ph-number">Call : 123 456 7890</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="main-menu">
          <div class="container">
              <nav class="navbar navbar-expand-lg navbar-light">
                  <a class="navbar-brand" href="index.html"><img src="./assets/images/logo.png" alt="logo"></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                          <li class="navbar-item active">
                              <a href="http://localhost:4202" class="nav-link">Home</a>
                          </li>
                          <li class="navbar-item">
                              <a href="http://localhost:4202/shop" class="nav-link">Shop</a>
                          </li>
                          <li class="navbar-item">
                              <a href="http://localhost:4202/about" class="nav-link">About</a>
                          </li>
                          <li class="navbar-item">
                              <a href="http://localhost:4202/wish" class="nav-link">Wishlist</a>
                          </li>
                          <li class="navbar-item">
                              <a href="http://localhost:4202/login" class="nav-link">Login</a>
                          </li>
                          <li class="navbar-item">
                              <a href="http://localhost:4202/admin" class="nav-link">Admin</a>
                          </li>
                      </ul>
                      <div class="cart my-2 my-lg-0">
                          <span>
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                          <span class="quntity">3</span>
                      </div>
                      <!--<form class="form-inline my-2 my-lg-0">
                          <input class="form-control mr-sm-2" type="search" placeholder="Search here..." aria-label="Search">
                          <span class="fa fa-search"></span>
                      </form> -->
                  </div>
              </nav>
          </div>
      </div>
  </header>
<div style="text-align:center">
    <h3>
      Wish List 
    </h3>
  
    <title>TextbookstoreUi</title>
  </div>

<div class="container">
    <form [formGroup]="wishform" (ngSubmit)="submitWish()" novalidate>
      <div *ngIf="validMessage1 != ''">
        <h3 class="has-info">{{validMessage1}}</h3>
      </div>
      <div class="form-group">
        <label>User Name</label>
        <input type="text" class="form-control" formControlName="user_name" required autofocus/>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="user_email" required/>
      </div>
      <div class="form-group">
        <label>WISH LIST NAME</label>
        <input type="text" class="form-control" formControlName="wish_list_name" required/>
      </div>
      <div class="form-group">
        <label>Book 1</label>
        <input type="text" class="form-control" formControlName="item1" required/>
      </div>

      <div class="form-group">
        <label>Book 2</label>
        <input type="text" class="form-control" formControlName="item2" required/>
      </div>
      <div class="form-group">
        <label>Book 3</label>
        <input type="text" class="form-control" formControlName="item3" required/>
      </div>
      
  
      <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
  </div>
  